/* Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
display: flex;
}

.img-topo-site img {
    width: 300px;       /* largura desejada */
    height: auto;       /* mantém proporção */
    border-radius: 10px; /* opcional, arredonda cantos */
    display: flex;
    margin-right: 20px;
   transform: scale(1.05);
     box-shadow: 0 0 40px #457b9d;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.btn-contato button{
 padding: 10px 40px;
 font-size: 18px;
 font-weight: 600;
 background-color: #457b9d;
 border: 2px solid inset;
border-radius: 15px;
 color: #030303;
 cursor: pointer;
}

.btn-contato button:hover{
   box-shadow: 0px 0px 15px #457b9d;
   color: #fff;
   transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
color: #457b9d;
}

/* Estilo do Cabeçalho  */
header .logo img {
    width: 200px;       /* largura maior */
    height: 100px;      /* altura menor, criando retângulo */
    object-fit: cover;  /* corta partes da imagem se necessário para preencher o retângulo */
    display: block;     /* remove espaçamento embaixo da imagem */
    border-radius: 10px; /* opcional, cantos arredondados */
}

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #979797;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    transition: .2s
}

header a:hover{
color: #ffffff;
transform: scale(1.05);
}

header nave ul{
list-style-type: none;
}

header nave ul li{
    display: inline-block;
    padding: 0 40px;
}

/*Estilo do Topo do Site*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
align-items: center;
justify-content: center;
gap: 90px;
}

.topo-do-site h1{
color: #fff;
font-size: 34px;
line-height: 40px;
width: 500px;
}

.txt-topo-site h1{
    margin-right: 20%;
    width: 100%;
   margin-top: -15%;
}

.txt-topo-site h1 span{
    color: #457b9d;
}


.txt-topo-site .btn-contato button {
    padding: 10px 30px;
    font-size: 18px;
    background-color: #457b9d;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-left: 3%;
    margin-top: -35%;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
    font-size: 20px;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*Estilos de Especialidades*/
section.especialidade{
    padding: 40px 4%;
    box-shadow:  0 0 40px 20px #457b9d;
}

section.especialidade .flex{
    gap: 60px;
}

.especialidade .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 30px;
    border-radius: 20px;
}

.especialidade .especialidades-box:hover{
    transform: scale(1.05);
     box-shadow: 0 0 20px #457b9d; 
   transition: .2s;
}

.especialidade .especialidades-box i{
    font-size: 70px;
    color: #457b9d;
}

.especialidade .especialidades-box h2, h3, h4{
    font-size: 35px;
    margin: 15px 0;
}

.especialidade .especialidades-box p{
    font-size: 20px;
}

/*Estilo Sobre*/
section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 b{
    color: #fff;
}

.sobre .txt-sobre h2 span{
color: #457b9d;
display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #457b9d;
    color: black;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
}

.sobre .txt-sobre .btn-social button:hover{
     box-shadow: 0px 0px 15px #457b9d;
     color: #fff;
     transition: .2s;
}

.sobre .img-sobre .foto-sobre{
    border-radius: 15px;
     transform: scale(1.05);
     box-shadow: 0 0 40px #457b9d;
     margin-top: 25px;
}

/*Estilo Portfólio*/

section.portfolio{
    margin-top: 50px;
    padding: 80px 4%;
    box-shadow: 0 0 40px 30px #457b9d;
}

section.portfolio .flex{
   justify-content: space-around;
   margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
     background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #457b9d81;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
     transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/*Estilo do Formulário de Contato*/
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #1b1919;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form input::placeholder{
   color: #457b9d;
}

form textarea{
   resize: none;
   max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
   width: 120px;
   background-color: #457b9d;
   color: #000;
   font-weight: 700;
   cursor: pointer;
   
}

form .btn-enviar input:hover{
     box-shadow: 0px 0px 15px #457b9d;
   color: #eaeaea;
   transition: .2s;
   transform: scale(1.05);
}

/*Estilo do Rodapé*/
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #457b9d;
}

footer .border{
    border-top: 2px solid #457b9d;
    padding: 50px;
}

footer .flex{
    justify-content: space-between;
}

footer .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #457b9d;
    color: rgb(1, 0, 0);
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    margin-top: 70px;
}

footer .btn-social button:hover{
         box-shadow: 0px 0px 15px #457b9d;
     color: #fff;
     transition: .2s;

}

footer .line-footer p i{
    color: #457b9d;
    font-size: 30px;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
    margin-left: 2px;
    font-size: 20px;
}

@media screen and (max-width: 1020px){

    /*Classes Gerais*/
    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
     font-size: 34px;
     line-height: 30px;
    }

    /*Cabeçalho*/
    .menu-desktop, .btn-contato{
    display: none;
    }

    header > .interface .logo{
    margin-left: 30%;
    height: 100%;
    width: 80%;
    }

    .topo-do-site .img-topo-site{
        padding: 10% 8%;
        width: 100%;
    }

    /*Topo-do-site*/
    section .topo-do-site .flex{
        gap: 40px;
    }

    section .topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 32px;
    }

    .img-topo-site img{
        width: 100%;
        height: 100%;
        margin-top: -80px;
    }

    .topo-do-site .txt-topo-site{
        padding: 20px;
    }

    @keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 10px;
    }
}

    /*Especialidades*/
    section .especialidade{
        padding: 40px 8%;
    } 

    /*Sobre*/
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .sobre .img-sobre img{
        width: 100%;
    }

    /*PortFólio*/
    section.portfolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    /*Rodapé*/
    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }

    footer .btn-social{
        padding: 20px;
    }

}